﻿@{
    ViewData["Title"] = "Student Add/Edit";
}
@model CRUDDemo.Areas.Student.Models.MST_StudentModel

<div class="row">
    <div class="col-md-12">
        <h1>Add Student</h1>
        <form method="post" asp-area="Student" asp-controller="MST_Student" asp-action="Save">
            @Html.HiddenFor(x=>x.StudentID)
            <div class="form-group">
                <label for="StudentName">Student Name</label>
                <input type="text" asp-for="StudentName" placeholder="Enter Student Name" class="form-control" />
                <span asp-validation-for="StudentName" class="form-text text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label for="MobileNoStudent">Student Mobile No</label>
                <input asp-for="MobileNoStudent" placeholder="Enter Student Mobile No" type="number" class="form-control">
                <span asp-validation-for="MobileNoStudent" class="form-text text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label for="StudentEmail">Student Email</label>
                <input asp-for="Email" placeholder="Enter Student Email" type="email" class="form-control">
                <span asp-validation-for="Email" class="form-text text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label for="FatherMobileNumber">Student Father Mobile No</label>
                <input asp-for="MobileNoFather" placeholder="Enter Father Student Mobile No" type="number" class="form-control">
                <span asp-validation-for="MobileNoFather" class="form-text text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label for="BranchID">Branch</label>
                <div>
                    <select asp-for="BranchID" asp-items=@(new SelectList(ViewBag.BranchList,"BranchID","BranchName")) class="form-control custom-select">
                        <option disabled selected>Select Branch</option>
                    </select>
                    <span asp-validation-for="BranchID" class="form-text text-danger"></span>
                </div>
            </div>
            <br />

            <div class="form-group">
                <label for="CityID">City</label>
                <div>
                    <select asp-for="CityID" asp-items=@(new SelectList(ViewBag.CityList,"CityID","CityName")) class="form-control custom-select">
                        <option disabled selected>Select City</option>
                    </select>
                    <span asp-validation-for="CityID" class="form-text text-danger"></span>
                </div>
            </div>
            <br />

            <div class="form-group">
                <label for="Address">Student Address</label>
                <input asp-for="Address" placeholder="Enter Student Address " type="text" class="form-control">
                <span asp-validation-for="Address" class="form-text text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label for="BirthDate">Birth Date</label>
                <input asp-for="BirthDate" placeholder="Enter Birth Date" type="date" class="form-control">
                <span asp-validation-for="BirthDate" class="form-text text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label for="Age">Age</label>
                <input asp-for="Age" placeholder="Enter Student Age " type="Text" class="form-control">
                <span asp-validation-for="Age" class="form-text text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label for="IsActive">Status</label><br />
                @Html.CheckBoxFor(x => x.IsActive)<span>IsActive</span>
            </div>

            <div class="form-group">
                <label for="Gender">Gender</label><br />
                @Html.RadioButtonFor(x => x.Gender,"Male")Male
                @Html.RadioButtonFor(x => x.Gender,"Female")Female
            </div>

            <br />

            <div class="form-group">
                <label for="Password">Password</label>
                <input asp-for="Password" placeholder="Enter Password " type="password" class="form-control">
                <span asp-validation-for="Password" class="form-text text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <button type="submit" class="btn btn-success" asp-area="Student" asp-action="Save" asp-controller="MST_Student" onclick="MSg()">Save</button>
                <a name="cancel" type="reset" class="btn btn-danger" asp-area="Student" asp-action="StudentAddEdit" asp-controller="MST_Student">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");
    }
    <script type="text/javascript">

        function MSg() {
            const id = document.getElementById("StudentID").value;

            if (id == '') {
                alert("Record Inserted Successfully");
            }
            else {
                alert("Record Updated Successfully");
            }
        }
    </script>
}

