﻿@using System.Data;
@{
    ViewData["Title"] = "Student List";
}

@model DataTable
<div class="card">
    <div class="card-body">
        <a class="btn btn-success btn-sm mb-1" asp-area="Student" asp-controller="MST_Student" asp-action="Add">
            Add Student
        </a>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>

                        <th>StudentName</th>
                        <th>BranchName</th>
                        <th>CityName</th>
                        <th>StudentNumber</th>
                        <th>Email</th>
                        <th>FatherNumber</th>
                        <th>Address</th>
                        <th>BirthDate</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>IsActive</th>
                        <th>Password</th>
                        <th>Created</th>
                        <th>Modified</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Rows.Count > 0)
                    {
                        foreach (DataRow dr in Model.Rows)
                        {
                            <tr>
                                <td>@dr["StudentName"]</td>
                                <td>@dr["BranchName"]</td>
                                <td>@dr["CityName"]</td>
                                <td>@dr["MobileNoStudent"]</td>
                                <td>@dr["Email"]</td>
                                <td>@dr["MobileNoFather"]</td>
                                <td>@dr["Address"]</td>
                                <td>@Convert.ToDateTime(dr["BirthDate"]).ToString("dd-MM-yyyy")</td>
                                <td>@dr["Age"]</td>
                                <td>@dr["Gender"]</td>
                                <td>@dr["IsActive"]</td>
                                <td>@dr["Password"]</td>
                                <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                                <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>

                                <td>
                                    <form method="post" asp-area="Student" asp-controller="MST_Student" asp-action="DeleteStudent">
                                        <input type="hidden" name="StudentID" value="@dr["StudentID"]">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="submit" class="btn btn-danger btn-sm me-2" onclick="return confirmDelete();">
                                                Delete
                                            </button>
                                            <a class="btn btn-primary btn-sm" asp-area="Student" asp-controller="MST_Student" asp-action="Add" asp-route-StudentID="@dr["StudentID"]">
                                                Edit
                                            </a>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <th colspan="4" class="text-center">
                                No Record Found.
                            </th>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
    {
    <script type="text/javascript">
        function confirmDelete() {
            if (confirm("Are you sure you want to delete this Student?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}

