﻿@using System.Data

@{
    ViewData["Title"] = "Branch List";
}

@model DataTable

<a asp-action="Add" asp-controller="MST_Branch" asp-area="Branch" class="btn btn-primary btn-sm">Add Branch</a>
<table class="table">
    <thead>
        <tr>
            <th>Branch name</th>
            <th>Branch Code</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Rows.Count > 0)
        {
            foreach (DataRow dr in Model.Rows)
            {
                <tr>
                    <td>@dr["BranchName"]</td>
                    <td>@dr["BranchCode"]</td>
                    <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                    <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                    <td>
                        <form method="post" asp-area="Branch" asp-controller="MST_Branch" asp-action="DeleteBranch">
                            <input type="hidden" name="BranchID" value="@dr["BranchID"]">
                            <button type="submit" class="btn btn-danger btn-sm me-2" onclick="return confirmDelete();">Delete</button>
                            <a asp-action="Add" asp-controller="MST_Branch" asp-area="Branch" asp-route-BranchID="@dr["BranchID"]" class="btn btn-primary btn-sm">Edit</a>
                        </form>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    <p class="col-form-label">No Record Found</p>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
    {
    <script type="text/javascript">
        function confirmDelete() {
            if (confirm("Are you sure you want to delete this Branch?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}
