﻿@{
    ViewData["Title"] = "Branch Add/Edit";
}

@model CRUDDemo.Areas.Branch.Models.MST_BranchModel

<div class="row">
    <div class="col-md-12">
        <h3>@TempData["BranchInsertMsg"]</h3>
        <form method="post" asp-action="save" asp-controller="MST_Branch" asp-area="Branch">
            <div class="form-group">
                @Html.HiddenFor(x=>x.BranchID)
                <label>Branch Name</label>
                <input type="text" class="form-control" asp-for="BranchName" />
                <span asp-validation-for="BranchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Branch Code</label>
                <input type="text" class="form-control" asp-for="BranchCode " />
                <span asp-validation-for="BranchCode" class="text-danger"></span>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary" asp-action="Save" asp-controller="MST_Branch" asp-area="Branch" id="" onclick="MSg()">Save</button>
            <a class="btn btn-danger" asp-controller="MST_Branch" asp-action="Index">Cancel</a>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");
    }

    <script type="text/javascript">

        function MSg() {
            const id = document.getElementById("BranchID").value;

            if (id == '') {
                alert("Record Inserted Successfully");

            }
            else {
                alert("Record Updated Successfully");
            }

        }
    </script>

}

