﻿@{
	ViewData["Title"] = "City List";
}

@using System.Data;
@model DataTable;


<a asp-action="Add" asp-controller="LOC_City" asp-area="City" class="btn btn-primary btn-sm">Add City</a>
<table class="table">
    <thead>
        <tr>
            <th>City name</th>
            <th>State Name</th>
            <th>Country Name</th>
            <th>City Code</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.Rows.Count > 0)
            {
                foreach (DataRow dr in Model.Rows)
                {
                    <tr>
                        <td>@dr["CityName"]</td>
                        <td>@dr["StateName"]</td>
                        <td>@dr["CountryName"]</td>
                        <td>@dr["CityCode"]</td>
                        <td>
                            <form method="post" asp-area="City" asp-controller="LOC_City" asp-action="Delete">
                                <input type="hidden" name="CityID" value="@dr["CityID"]">
                                <button type="submit" class="btn btn-danger btn-sm me-2" onclick="return confirmDelete();">Delete</button>
                                <a asp-action="Add" asp-controller="LOC_City" asp-area="City" asp-route-CityID="@dr["CityID"]" class="btn btn-primary btn-sm">Edit</a>
                            </form>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <p class="col-form-label">No Record Found</p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@section Scripts
    {
    <script type="text/javascript">
        function confirmDelete() {
            if (confirm("Are you sure you want to delete this City?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}