﻿@{
    ViewData["Title"] = "City Add/Edit";
}
@model CRUDDemo.Areas.City.Models.LOC_CityModel

<div class="row">
    <div class="row">
        <div class="col-md-12">
            <h3>@TempData["CityInsertMsg"]</h3>
            <form method="post" asp-action="Save" asp-controller="LOC_City" asp-area="City">

                <div class="form-group">
                    <label for="CountryID">Country</label>
                    <div>
                        <select asp-for="CountryID" asp-items=@(new SelectList(ViewBag.CountryList,"CountryID","CountryName")) class="form-control custom-select">
                            <option disabled selected>Select Country</option>
                        </select>
                        <span asp-validation-for="CountryID" class="form-text text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="StateID">State</label>
                    <div>
                        <select asp-for="StateID" asp-items=@(new SelectList(ViewBag.StateList,"StateID","StateName")) class="form-control custom-select">
                            <option disabled selected>Select State</option>
                        </select>
                        <span asp-validation-for="StateID" class="form-text text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.HiddenFor(x=>x.CityID)
                    <label>City Name</label>
                    <input type="text" class="form-control" asp-for="CityName" />
                    <span asp-validation-for="CityName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>City Code</label>
                    <input type="text" class="form-control" asp-for="CityCode " />
                    <span asp-validation-for="CityCode" class="text-danger"></span>
                </div>
                <hr />
                <button type="submit" class="btn btn-primary" id="" asp-area="City" asp-controller="LOC_City" asp-action="Save" onclick="MSg()">Save</button>
                <a class="btn btn-danger" asp-controller="LOC_City" asp-action="Index">Cancel</a>
            </form>
        </div>
    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");
    }

        <script type="text/javascript">

            function MSg() {
                const id = document.getElementById("StateID").value;

                if (id == '') {
                    alert("Record Inserted Successfully");

                }
                else {
                    alert("Record Updated Successfully");
                }

            }
        </script>

}

