﻿@using CRUDDemo.Areas.Country.Models;
@{
    ViewData["Title"] = "Country Add/Edit";
}

@model LOC_CountryModel

<div class="row">
    <div class="col-md-12">
        <h3>@TempData["CountryInsertMsg"]</h3>
        <form method="post" asp-area="Country" asp-controller="LOC_Country" asp-action="Save">
            @Html.HiddenFor(x=>x.CountryID)
            <div class="form-group">
                <label>Country Name</label>
                <input type="text" class="form-control" asp-for="CountryName" 
                    placeholder="Enter Country Name" />
            </div>
            <div class="form-group">
                <label>Country Code</label>
                <input type="text" class="form-control" asp-for="CountryCode" 
                    placeholder="Enter Country Code" />
            </div> 
            <hr />
            <button class="btn btn-primary" type="submit" id="Save"  asp-area="Country" asp-controller="LOC_Country"
                asp-action="Save" onclick="return Message();">
                Save
            </button>
            <a class="btn btn-danger" asp-controller="LOC_Country" asp-action="Index">Cancel</a>

        </form>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">

        function Message() {
            const id = document.getElementById("CountryID").value;

            if (id == '') {
                alert("Record Inserted Successfully");
            }
            else {
                alert("Record Updated Successfully");
            }
        }
    </script>
}
