﻿@{
	ViewData["Title"] = "Country List";
}

@using System.Data;
@model DataTable;

<a asp-action="Add" asp-controller="LOC_Country" asp-area="Country" class="btn btn-primary btn-sm">Add Country</a>
	

		<table class="table">
	<thead>
		<tr>
			<th>Country Name</th>
			<th>Country Code</th>
			<th>Created</th>
			<th>Modified</th>
			<th>Actions</th>
		</tr>
	</thead>

	<tbody>
		@{
			if(Model.Rows.Count > 0)
			{
				foreach(DataRow dr in Model.Rows)
				{
					<tr>
						<td>@dr["CountryName"]</td>
						<td>@dr["CountryCode"]</td>
						<td>@Convert.ToDateTime(@dr["Created"]).ToString("dd-MM-yyyy")</td>
						<td>@Convert.ToDateTime(@dr["Modified"]).ToString("dd-MM-yyyy")</td>
						<td>
							<form method="post" asp-controller="LOC_Country" asp-action="Delete">
								<input type="hidden" name="CountryID" value="@dr["CountryID"]">
								<button type="submit" class="btn btn-danger btn-xs"
									onclick="return fun1()">
									Delete
								</button>
								<a class="btn btn-info btn-xs" asp-controller="LOC_Country"
									asp-action="AddEdit" asp-area="Country" 
									asp-route-CountryID="@dr["CountryID"]">
									Edit
								</a>
							</form>
						</td>
					</tr>
				}
			}

			else
			{
				<tr>
					<td colspan="5" class="text-center">
						<p>No Record Found</p>
					</td>
				</tr>
			}
		}
	</tbody>
</table>

@section Scripts
{
	<script>
		function fun1(){
			if(confirm("Are you sure you want to Delete?")){
				return true;
			}
			else{
				return false;
			}
		}
	</script>
}