﻿@{
	ViewData["Title"] = "State List";
}

@using System.Data;
@model DataTable;

<a asp-action="AddEdit" asp-controller="LOC_State" asp-area="State" class="btn btn-primary btn-sm">Add State</a>
<table class="table">
    <tr>
        <th>State name</th>
        <th>State Code</th>
        <th>Country name</th>
        <th>Creation</th>
        <th>Modified</th>
        <th>Action</th>
    </tr>
    <tbody>

        @if (Model.Rows.Count > 0)
        {
            foreach (DataRow dr in Model.Rows)
            {
                <tr>
                    <td>@dr["StateName"]</td>
                    <td>@dr["StateCode"]</td>
                    <td>@dr["CountryName"]</td>
                    <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yyyy")</td>
                    <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yyyy")</td>
                    <td>
                        <form method="post" asp-area="State" asp-controller="LOC_State" asp-action="DeleteState">
                            <input type="hidden" name="StateID" value="@dr["StateID"]">
                            <button type="submit" class="btn btn-danger btn-sm me-2" onclick="return confirmDelete();">Delete</button>
                            <a class="btn btn-primary btn-sm" asp-action="AddEdit" asp-controller="LOC_State" asp-area="State" asp-route-StateID="@dr["StateID"]">Edit</a>
                        </form>

                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">
                    <p class="col-form-label">No Record Found</p>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
    {
    <script type="text/javascript">
        function confirmDelete() {
            if (confirm("Are you sure you want to delete this State?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}
