﻿@{
    ViewData["Title"] = "State Add/Edit";
}
<h1>StateAddEdit</h1>
@model CRUDDemo.Areas.State.Models.LOC_StateModel

<hr />

<div class="row">
    <div class="col-md-12">
        <h3>@TempData["StateInsertMsg"]</h3>
        <form method="post" asp-action="Save" asp-controller="LOC_State" asp-area="State">

            <div class="form-group">
                <label for="CountryID">Country</label>
                <div>
                    <select asp-for="CountryID" asp-items=@(new SelectList(ViewBag.CountryList,"CountryID","CountryName")) class="form-control custom-select">
                        <option disabled selected>Select Country</option>
                    </select>
                    <span asp-validation-for="CountryID" class="form-text text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                @Html.HiddenFor(x=>x.StateID)
                <label>State Name</label>
                <input type="text" class="form-control" asp-for="StateName" />
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>State Code</label>
                <input type="text" class="form-control" asp-for="StateCode " />
                <span asp-validation-for="StateCode" class="text-danger"></span>
            </div>
            <hr />
            <button type="submit" class="btn btn-primary" id="" asp-area="State" asp-controller="LOC_State" asp-action="Save" onclick="MSg()">Save</button>
            <a class="btn btn-danger" asp-controller="LOC_State" asp-action="Index">Cancel</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");
    }

    <script type="text/javascript">

        function MSg() {
            const id = document.getElementById("StateID").value;

            if (id == '') {
                alert("Record Inserted Successfully");

            }
            else {
                alert("Record Updated Successfully");
            }

        }
    </script>

}

